body {
  font-family: 'Arial', sans-serif;
}

.navbar-brand, .nav-link {
  color: #007bff !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: #0056b3 !important;
}

.btn {
  margin-top: 10px;
}

h1, h4 {
  margin-bottom: 20px;
}
.quantity-number {
  font-size: 1.5rem;
  min-width: 40px;
  text-align: center;
}
